:root {
  --otobleu : #125e6b;
  --otobleuclair: #21aac2;
  --otojaune : #dadf21;
  --otojaunefonce : #6b6d10;
  --otorange : #f58021;
  --otorangefonce: #904b13;
}
.bouton-rond {
  position: fixed;
  bottom: 5%;
  left: 80%;
  z-index: 10000;
  background: url("../svg/plus.svg") no-repeat center var(--otobleu);
  background-size: contain;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.bouton-rond > a {
  display: block;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  font-size: 3rem;
}
.desktop-only {
  display: none;
}
.decalage {
  margin-left: 3px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  min-height: 100vh;
  padding-bottom: 10px;
}
a, a:link, a:hover  {
  text-decoration: none;
}


.otoveil {
  height: 40px;
}

.espece-item {
  margin-bottom: 10px;
  min-height: 50px;
}

.espece-item:first-of-type {
  margin-top: 5px;
}

.espece-item  > img {
  height: 100%;
}

.attention {
  color: var(--otobleu);
}

.lien-nav {
  margin: 8px;
}

.icone-nav {
  height: 75px;
}

.theme-item {
  height: 50px;
}
.alerte-item {
  margin-bottom: 10px;
  padding: 5px 1%;
}
.alerte-item > p {
  margin-bottom: 5px;
}
.alerte-item:first-of-type {
  margin-top: 5px;
}

.nb-alertes {
  color: white;
  margin: auto 10px;
}

.zone-saisie {
  min-width: 100px;
  width: 20%;
  background: Wheat;
}
.grands-boutons {
  max-width: 49%;
}

.accent {
  padding: 0 2%;
  color: white;
  background: var(--otobleu);
}

.rond {
  padding: 0 4px;
  color: white;
  background: var(--otobleu);
  border-radius: 100%;
}

.arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20.0px 15px 0 15px;
	position: absolute;
	bottom: 0;
	right: 10px;
	bottom: -20px;
	border-color: #e2e3E5 transparent transparent transparent;
	opacity: 1;
}

.titre {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bg-otobleu, .btn-otobleu {
  background: var(--otobleu);
  color: white;
}

.btn-otobleu:hover {
  color: black;
  background: var(--otobleuclair);
}

.btn-otorange, .bg-otorange {
  background: var(--otorange);
  color: black;
}

.btn-otorange:hover{
  background: var(--otorangefonce);
  color: white;
}
.btn-otojaune, .bg-otojaune  {
  background: var(--otojaune);
  color: black;
}

.btn-otojaune:hover  {
  background: var(--otojaunefonce);
  color: white;
}


.bg-coral {
  background: Coral;
}
.bg-darksalmon {
  background: darksalmon;
}
.titre > img {
  width: 45px;
}

.titre > h5 {
  margin: 0;
  padding: 0 0 0 5%;
  -ms-flex-item-align: center;
      align-self: center;
}
.petit-espace-dessous {
  margin-bottom: 1px;
}

.coupe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label-remember-modif {
	margin-left: 50px;
	margin-top: 3px;
}
.origine {
  margin-bottom: 5px;
  padding: 5px 0 2px 0;
}
.case-a-cocher {
  margin: auto;
}
.non-affiche {
  display: none ;
}
.aide {
  padding-top: 2px;
  color: grey;
  font-style: italic;
  font-size: 0.95em;
}
.element-centre {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.curseur {
  cursor: pointer;
}
.erreur {
  margin: 20vh 10vw;
}

.panneau-alerte {
  margin-top: -17px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-bottom: solid darkslategrey;
}
.panneau-alerte:last-of-type {
  border-bottom: none;
}

.element-alerte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jumbotron {
  height: 100vh;
}

@media screen and (min-width: 800px) {

  html {
    background: var(--otobleu);
    padding: 5px;
  }
  body {
    min-height: calc(100vh - 10px);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (orientation: landscape) {

}

@media screen and (min-width: 640px) {

  .smartphone-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

}

@media screen and (min-width: 1300px) {

  body {
    max-width: 60%;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 0.5rem;
  }
}
