:root {
  --otobleu : #125e6b;
  --otobleuclair: #21aac2;
  --otojaune : #dadf21;
  --otojaunefonce : #6b6d10;
  --otorange : #f58021;
  --otorangefonce: #904b13;
}


.decalage {
  margin-left: 3px;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  min-height: 100vh;
  padding-bottom: 10px;
}
a, a:link, a:hover  {
  text-decoration: none;
}


.otoveil {
  height: 40px;
}

.espece-item {
  margin-bottom: 10px;
  min-height: 50px;
}

.espece-item:first-of-type {
  margin-top: 5px;
}

.espece-item  > img {
  height: 100%;
}

.attention {
  color: var(--otobleu);
}

.lien-nav {
  margin: 8px;
}

.icone-nav {
  height: 75px;
}

.theme-item {
  height: 50px;
}
.alerte-item {
  margin-bottom: 10px;
  padding: 5px 1%;
}
.alerte-item > p {
  margin-bottom: 5px;
}
.alerte-item:first-of-type {
  margin-top: 5px;
}

.nb-alertes {
  color: white;
  margin: auto 10px;
}

.zone-saisie {
  min-width: 100px;
  width: 20%;
  background: Wheat;
}
.grands-boutons {
  max-width: 49%;
}

.titre {
  width: 98%;
  display: flex;
  flex-direction: row;
}

.bg-otobleu, .btn-otobleu {
  background: var(--otobleu);
  color: white;
}

.btn-otobleu:hover {
  color: black;
  background: var(--otobleuclair);
}

.btn-otorange, .bg-otorange {
  background: var(--otorange);
  color: black;
}

.btn-otorange:hover{
  background: var(--otorangefonce);
  color: white;
}
.btn-otojaune, .bg-otojaune  {
  background: var(--otojaune);
  color: black;
}

.btn-otojaune:hover  {
  background: var(--otojaunefonce);
  color: white;
}


.bg-coral {
  background: Coral;
}
.bg-darksalmon {
  background: darksalmon;
}
.titre > img {
  width: 45px;
}

.titre > h5 {
  margin: 0;
  padding: 0 0 0 5%;
  align-self: center;
}
.petit-espace-dessous {
  margin-bottom: 1px;
}

.coupe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label-remember-modif {
	margin-left: 50px;
	margin-top: 3px;
}
.origine {
  margin-bottom: 5px;
  padding: 5px 0 2px 0;
}
.case-a-cocher {
  margin: auto;
}
.non-affiche {
  display: none ;
}
.aide {
  padding-top: 2px;
  color: grey;
  font-style: italic;
  font-size: 0.95em;
}
.element-centre {
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.curseur {
  cursor: pointer;
}
.erreur {
  margin: 20vh 10vw;
}

.panneau-alerte {
  margin-top: -17px;
  border: none;
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: solid darkslategrey;
}
.panneau-alerte:last-of-type {
  border-bottom: none;
}

.element-alerte {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 800px) {

  html {
    background: var(--otobleu);
    padding: 5px;
  }
  body {
    min-height: calc(100vh - 10px);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1300px) {

  body {
    max-width: 60%;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 0.5rem;
  }
}
