.aide-bouton {
  display: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: url('../svg/aide.svg') no-repeat $otojaune;
  background-size: contain;
  position: fixed;
  top: 30vh;
  right: 20px;
  z-index: 10000;
  cursor: pointer;
  transform: scale(1);
  transition: transform 1s;

  &:hover {
    transform: scale(1.3);
    transition: transform 1s;
  }
}
.aide-contenu {
  position: fixed;
  width: 70vw;
  left: 10vh;
  top: 10vh;
  display: none;
}
.aide-contenu-container {
}

.aide-contenu-chiffre {
  font-size: 3rem;
  // background: $otobleu;
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 100%;
	line-height: -moz-block-height;
}
.aide-contenu-texte {
  padding: 20px;
  box-shadow: 2px 2px 4px black;
}
.aide-contenu-container {
  position: absolute;
  top: 0;
  left: 0;
}
.aide-icones {
  width: 50px;
  border-radius: 100%;
}
#texte-s-2, #texte-d-2 {
  display: none;
  width: 100%;
}

#aide-image {
  position: fixed;
  width: 90vw;
  left: 5vw;
  top: 5vh;
  max-width: 1000px;
  max-height: 90vh;
  z-index: 9999;
  display: none;
}

@media screen and (min-width: 576px) {
  .aide-contenu {
    left: 15vw;
    top: 30vh;
  }
  .aide-icones {
    border-radius: inherit;
    width: 60px;
  }

}
