.acces {
  height: 100vh;
  background: $otorange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.acces-logo {
  margin: auto;
  display: flex;
}
.acces-logo > img {
  max-width: 100%
}
.acces-entete {
    margin: auto;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.commencer {
  margin-top: 40px;
}

@media screen and (orientation: landscape) and (max-width:800px) {
  .acces {
    flex-direction: row;
    align-items: end;
  }
  .acces-entete {
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
  }

}

@media screen and (min-width: 800px) {

  .acces {
    height: 94vh;
  }

  .acces-entete {
    align-items: flex-end;
    align-self: end;
  }
}
